@model IEnumerable<ImageGallery.Models.Gallery>
@{ViewBag.Title = "Galleries";}
<style type="text/css">
    table,tr,th,td 
    {
        border:1px solid gray;
        padding: 0 0 0 0;
        margin: 0 0 0 0;
        text-align: center;
    }
</style>
<h2>Free for All Image Galleries</h2>
    @foreach (var item in Model)
    {
        <span style="float:left;padding:5px;text-align:center;">
                @try
                {
                    <a style="outline:none;" href="@Url.Action("ThumbnailView", new { id = item.id.ToString() })">
                        <img style="border:0;" alt="image" src="@Url.Action("FileContent")/@Html.Raw(item.Images[0].ThumbnailId.ToString())" />
                    </a>
                }
                catch
                {

                }
                <br />
                @Html.DisplayFor(modelItem => item.Name)
        </span>
    }
    <div style="float:break;clear:both;">
        <br />
        <hr />
        @Html.ActionLink("Create New", "Create")
    </div>
    
